
  <div class="row">
  <div class="col-lg-4">
    <button class="state-view w-100">
STATE-WISE-VIEW
    </button>
    <div class="show-scroll">
    <div class="state-card" *ngFor="let item of statusCode | keyvalue"(click)="getCovidData(item.key)" >
     <div> {{item.value}}
    </div>
  </div>
</div>
  </div>
  <div class="col-lg-8">
    <div class="border-bottom mt-5">

    </div>

    <div class=" row ">
    <div class="col-lg-12 d-flex">
      <div class="population-title text-initial col-lg-4">
        Population :
      </div>
      <div class=" mt-3 col-lg-4 text-initial">
        {{StatusCodeVariable}}
      </div>
      <div class="mt-3 col-lg-4">
        {{population}}
   </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
          <table class="table table-bordered ">
              <thead>
                  <tr class="">
                      <th>District</th>
                      <th>confirmed</th>
                      <th>Recoverd</th> 
                      <th>Death</th>
                      <th>Tested</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of totalCaseArray">
                      <td> {{item.name}}</td>
                      <td>
                        {{item.confirmed}}
                       
                      </td>
                      <td> 
                        {{item.recovered}}
                      </td>
                       
                      <td> 
                        {{item.deceased}}
                      </td>
                      <td> {{item.tested}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <app-covid-chart [statusCode]="StatusCodeVariable" [poPulation] = "population"></app-covid-chart>
   
      
  </div>
</div>